.user-list-container[data-v-b193ae19]{display:grid;grid-auto-flow:row;gap:.5em}.user-item[data-v-b193ae19]{display:grid;border:1px solid gray;border-radius:.2em;padding:1em;word-break:break-all;background-color:#0000001a}
