@import "./base.css";

#app {
  max-width: 100dvw;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
  display: grid;
  grid-auto-flow: row;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
