@import "./base.css";

#app {
}

.view-container {
}

.content-view {
  padding: 1em;
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
}

.form-container,
.preview-container {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5em;
}

.column-buttons {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

button {
  padding: 0.5em;
  cursor: pointer;
}

form {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.5em;
}

textarea {
  width: 100%;
  padding: 1em;
  field-sizing: content;
}

input[type="number"] {
  width: 100%;
  padding: 1em;
}
