@import "./base.css";

#app {
  max-width: 100dvw;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
  display: grid;
  grid-auto-flow: row;
}

.column-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1em;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  padding: 0.5em;
  cursor: pointer;
}

form,
section {
  display: grid;
  grid-auto-flow: row;
  row-gap: 1em;
}

textarea {
  width: 100%;
  padding: 1em;
  field-sizing: content;
}

input[type="number"] {
  width: 100%;
  padding: 1em;
  field-sizing: content;
}
